@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
    --color-background: #fff;
    --color-primary: #F36944;
    --color-base: #FEC92B;
    --color-sky: #74C0FC;
    --color-green-gray: #63E6BE;
    --color-pink-gray: #E599F7;
    --text-black-color: #000;
    --text-white-color: #fff;
    --text-gray-color: rgb(59, 59, 59);
    --logo-size: 50px;
    --name-size: 20px;
    --navber-height: 60px;
    --mneu-item-font-size: 15px;
    --left-right-padding-size: 10vw;
    --primary-border-radius: 10px;
    --background-base-color: #74c1fc15;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20rem auto 20rem;
    background-color: var(--background-base-color);
    overflow: hidden;
}
.side_left {
    overflow: hidden;
    padding: 20px;
    background-color: #fff;
}
.side_left .side_left_title {
    display: flex;
    gap: 10px;
    align-items: center;
}
.side_left .side_left_title .user_name {
    font-size: 1rem;
    font-weight: 501;
}
.side_left .side_left_title img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid rgba(128, 128, 128, 0.521);
}
.side_left_ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    list-style: none;
    margin-top: 20px;
}
.side_left_ul li {
    position: relative;
    padding: 10px;
    font-size: 1rem;
    color: #3d3d3dda;
    -webkit-tap-highlight-color: transparent; /* Disable tap highlight color */
}
.side_left_ul li span {
    display: flex;
    gap: 10px;
}
.side_left_ul li:hover {
    cursor: pointer;
    background-color: rgba(216, 216, 216, 0.432);
    border-radius: 5px;
}
.list_hover_design {
    cursor: pointer;
    background-color: rgba(216, 216, 216, 0.432);
    border-radius: 5px;
}

.dashboard_title {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 20px;
}

.sub_list {
    display: none;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    margin-left: 15px;
}
.sub_list_item {
    opacity: 0.9;
    margin: 5px;
}

.sub_item_selected {
    background-color: #74c1fc33; /* Background color for selected state */
    border-radius: 5px;
    color: none; /* Text color for selected state */
    opacity: 1;
}

.sub_item_selected i {
    color: none; /* Icon color for selected state */
}


.sub_list.show {
    display: block;
    max-height: 200px; /* Set a reasonable max height */
    opacity: 1;
}
.roate_27deg {
    transform: rotate(270deg);
}

.list_arrow {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    font-size: 0.8rem;
    opacity: 0.8;
    transition: 0.5s ease;
}
.tag_comment {
    font-size: 1rem;
    color: #929292b6;
    margin-left: 10px;
}

.side_right {
    overflow: hidden;
    padding: 20px;
    background-color: #fff;
}
.side_right_title {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.199);
    padding-bottom: 10px;
}
.side_right_title img {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
}

#side_left_toggle {
    cursor: pointer;
    display: none;
    position: fixed;
    border: none;
    pad: 5px;
    background-color: transparent;
    top: 20px;
    left: 20px;
    background-color: #74c1fc48;
    padding: 10px;
    border-radius: 50%;
    width: 45px;
}
#side_left_toggle i {
    font-size: 1.5rem;
    color: #74C0FC;
}
#side_right_toggle {
    cursor: pointer;
    display: none;
    position: fixed;
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: none;
    bottom: 20px;
    right: 30px;
}
#side_right_toggle img {
    border-radius: 50%;
    width: 1.7rem;
    height: 1.7rem;
}
#side_left_close {
    cursor: pointer;
    display: none;
    background-color: transparent;
    border: none;
    padding: 5px;
}
#side_left_close i {
    font-size: 1.5rem;
    color: gray;
}
#side_right_close {
    cursor: pointer;
    display: none;
    background-color: transparent;
    border: none;
    padding: 5px;
}
#side_right_close i {
    font-size: 1.5rem;
    color: gray;
}

.main {
    padding: 20px;
}

/* Base styles */
#cards_section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Auto-adjust columns */
    grid-auto-rows: 200px; /* Fixed height for rows */
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 19px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
  }
  .card_icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
  }
  .card_icon h3, .card_title {
    color: rgba(34, 34, 34, 0.815);
    font-weight: 400;
  }
  .card_icon i  {
    font-size: 2.5rem;
    color: #fc749d;
  }
  #color_i2 {
    color: #fcb174;
  }
  #color_i3 {
    color: #74cafc;
  }
  #color_i4 {
    color: #fc74f1;
  }
  #color_i5 {
    color: #8d74fc;
  }
  .card_value {
    margin-top: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: start;
  }

  #balance_count {
    color: #35b900;
  }
  #investment_count {
    color: rgb(255, 0, 0);
  }

  .card .analysis {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  .card .analysis i {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .card .analysis p {
    font-size: 0.8rem;
    color: gray;
    margin-top: 5px;
  }
  .up_rich {
    color: rgb(0, 167, 0);
    display: none;
  }
  .down_rich {
    color: rgb(255, 0, 0);
    display: none;
  }
  .no_rich {
    color: gray;
  }

  /* Analysis text content span */
  .balance_analysis_text_increase {
    color: rgb(0, 167, 0);
  }
  .balance_analysis_text_decrease {
    color: rgb(255, 0, 0);
  }

#edit_profile_btn {
    text-decoration: none;
}
#edit_profile_btn svg{
    fill: #000;
    width: 20px;
    height: 30px;
}



/* When the right sidebar is hidden */
@media screen and (max-width: 1250px) {
    .side_right {
        display: none;
    }
    #side_right_toggle {
        display: block;
    }
    
    /* Adjust grid to only have two columns when right sidebar is hidden */
    .container {
        grid-template-columns: 20rem auto; /* Only 2 columns: left and main */
    }
}

/* When both sidebars are hidden */
@media screen and (max-width: 900px) {
    .side_left {
        display: none;
    }
    #side_left_toggle {
        display: block;
    }
    .main {
        margin-top: 40px;
    }
    
    /* Adjust grid to have only one column when both sidebars are hidden */
    .container {
        grid-template-columns: 1fr; /* Full width for the main content */
    }
}
