@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-background: #fff;
    --color-primary: #F36944;
    --color-base: #FEC92B;
    --color-sky: #74C0FC;
    --color-green-gray: #63E6BE;
    --color-pink-gray: #E599F7;
    --text-black-color: #000;
    --text-white-color: #fff;
    --text-gray-color: rgb(59, 59, 59);
    --logo-size: 50px;
    --name-size: 20px;
    --navber-height: 60px;
    --mneu-item-font-size: 15px;
    --left-right-padding-size: 10vw;
    --primary-border-radius: 10px;
    --background-base-color: #74c1fc15;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-base-color);
}

#nav_ber {
    width: 100%;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
}
#nav_ber .title {
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
}
#nav_ber .title img {
    width: 3rem;
    height: 3rem;
}
#nav_ber ul {
    display: flex;
    gap: 20px;
}
#nav_ber ul li {
    list-style: none;
    color: #000;
    cursor: pointer;
    opacity: 0.7;
    padding: 7px 10px;
    transition: 0.3s ease;
    border-radius: 5px;
}
#nav_ber ul li:hover {
    opacity: 1;
    background-color: rgba(209, 209, 209, 0.555);
}
#nav_ber ul li a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap;
}
.product_left {
    width: 400px;
    padding: 20px;
    overflow: hidden;
}
.product_left .product_image {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 20px rgba(128, 128, 128, 0.733);
}
.product_left .product_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product_right {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
#nav_toggle {
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
    border: none;
    display: none;
}
#nav_toggle i {
    font-size: 1.2rem;
}
#nav_close {
    cursor: pointer;
    padding: 5px;
    border: none;
    background-color: transparent;
    display: none;
}
#nav_close i{
    font-size: 1.2rem;
}
.show{
    display: block;
}
#product_name {
    font-size: 1.3rem;
}
.price_box {
    display: flex;
    gap: 10px;
    align-items: center;
}
.price_box p {
    font-size: 1.5rem;
    color: var(--color-primary);
    font-weight: 600;
}
.price_box p #discount_count {
    text-decoration: line-through;
    color: #000;
    opacity: 0.5;
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: 5px;
    margin-right: 20px;
}
.price_box a {
    background-color: #F36944;
    color: #fff;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 1251px) {
    .product_right {
        width: 50%;
    }
    #nav_toggle {
        display: none;
    }
    #nav_close {
        display: none;
    }
}
@media screen and (max-width: 999px) {
    .container{
        justify-content: center;
    }
    .product_right {
        width: 80%;
    }
    #nav_toggle {
        display: none;
    }
    #nav_close {
        display: none;
    }
}
@media screen and (max-width: 720px) {
    .product_left {
        width: 100%;
    }
    .product_right {
        width: 100%;
    }
    #nav_toggle {
        display: block;
    }
    #nav_ber ul {
        position: absolute;
        background-color: #fff;
        top: 70px;
        right: 0;
        display: none;
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;
        box-shadow: -5px 5px 30px rgba(128, 128, 128, 0.548);
    }
}
@media screen and (max-width: 504px) {
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .product_left .product_image {
        height: 450px;
    }
}
